<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truyensongngu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".expand_list_view"></activity>
        <activity android:name=".truyen_ngan_audio_str1" />
        <activity android:name=".BaiLuanMau" />
        <activity android:name=".TruyenNguNgon" />
        <activity android:name=".TruyenCoTich" />
        <activity android:name=".KienThucTongHop" />
        <activity android:name=".CacCauDanhNgon" />
        <activity android:name=".MauCauThongDung" />
        <activity android:name=".TruyenCuoi" />
        <activity android:name=".TruyenNgan" />
        <activity android:name=".TruyenNgan_Audio" />
        <activity android:name=".BaoSongNgu" />
        <activity android:name=".NhatKiChinhPhucE" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>