<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duolingo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_duolingo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_duolingo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.join.Join3"></activity>
        <activity android:name=".question.QuestionFive" />
        <activity android:name=".question.QuestionFour" />
        <activity android:name=".ui.join.Join4" />
        <activity android:name=".ui.join.LevelList" />
        <activity android:name=".ui.join.Join2" />
        <activity android:name=".ui.join.Join1" />
        <activity android:name=".ui.selectlanguage.SelectLanguage" />
        <activity android:name=".ui.Start" />
        <activity android:name=".utils.CheckActivity" />
        <activity android:name=".question.QuestionThree" />
        <activity android:name=".utils.Progressbar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".utils.CustomProgressbar" />
        <activity android:name=".ui.ShopActivity" />
        <activity android:name=".ui.RankActivity" />
        <activity android:name=".ui.InforActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".question.QuestionOne" />
        <activity android:name=".question.QuestionTwo" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>